.contacts {
  @include reset-margin;
  font-family: $main-font;
  background-color: $text-light;
}

.contacts__list {
  @include reset-list;

  @media (min-width: $larger-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contacts__item {
  margin-bottom: 20px;

  &:last-child {
    @media (min-width: $larger-width) {
      width: 100%;
      margin-top: 20px;
    }

    @media (min-width: $largest-width) {
      width: 300px;
      margin-top: 0;
    }
  }

  &:nth-last-child(2) {
    order: 2;
  }
}

.contacts__header {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  color: $text-dark;

  @media (min-width: $larger-width) {
    width: 500px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $largest-width) {
    width: 600px;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 57px;
  }
}

.contacts__type {
  @include reset-margin;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: $text-dark;

  @media (min-width: $larger-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $largest-width) {
    margin-bottom: 20px;
  }
}

.contacts__value {
  width: 300px;
  margin: inherit;
  padding: inherit;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: $accent-primary;
}
