.contest {
  font-family: $main-font;
  line-height: 30px;
  background-color: $bk-light;
}

.contest__header {
  @include reset-margin;
  font-size: 14px;
  font-weight: normal;
  color: $text-dark;
}

.contest__fieldset {
  display: flex;
  border: none;
}

.contest__fieldset--archivements {
  background-color: $bk-dark;
}

.contest__label {
  @include reset-margin;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: $accent-primary;
}

.contest__input {
  @include reset-margin;
}

.contest__label--checkbox {
  font-size: 18px;
  font-weight: normal;
  text-transform: initial;
  color: $text-dark;
}

.contest__label--radio {
  font-size: 18px;
  font-weight: normal;
  text-transform: initial;
  color: $text-dark;
}

.contest__submit-button {
  @include reset-margin;
  font-size: 18px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  color: $text-light;
  background-color: $accent-secondary;
}

.contest__note {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-dark;
}

.contest__input--type--textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: $text-dark;
}
