.contacts {
  @include reset-margin;
  font-family: $main-font;
  background-color: $text-light;
}

.contacts__list {
  @include reset-list;
}

.contacts__header {
  margin: inherit;
  padding: inherit;
  font-size: 24px;
  font-weight: lighter;
  color: $text-dark;
}

.contacts__type {
  margin: inherit;
  padding: inherit;
  font-size: 18px;
  color: $text-dark;
}

.contacts__value {
  margin: inherit;
  padding: inherit;
  font-size: 24px;
  color: $accent-primary;
}
