.gallery {
  font-family: $main-font;
  line-height: 30px;
  background-color: $text-light;
}

.gallery__header {
  @include reset-margin;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: $text-dark;
}

.gallery__list {
  @include reset-list;
}

.gallery__item {
  margin: 0 auto;
  width: 280px;
}

.gallery__username {
  @include reset-margin;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $text-dark;
}

.gallery__user-last-activity {
  @include reset-margin;
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  color: $text-dark;
}

.gallery__user-text {
  @include reset-margin;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: $text-dark;
}

.gallery_likes {
  @include reset-margin;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: $accent-primary;
}
