.htmlacademy-logo {
  display: flex;
  align-items: center;
}

.htmlacademy-logo__text {
  @include reset-margin;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-dark;
  background-color: $bk-light;

  @media (min-width: $largest-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.htmlacademy-logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
