.intro {
  margin-top: -70px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  color: $text-light;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $bk-darkest;

  @media (min-width: $larger-width) {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $larger-width) {
    margin-top: -110px;
  }
}

.intro__container {
  margin: 0 auto;
  width: 280px;
}

.intro__header {
  @include reset-margin;
  text-align: center;
  font-family: $main-font;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-transform: none;
}
