.main-nav {
  position: relative;
  font-family: $main-font;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-light;

  @media (min-width: $largest-width) {
    display: flex;
  }
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $largest-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__list--closed {
  @media (max-width: $largest-width) {
    display: none;
  }
}

.main-nav__item {
  min-height: 64px;
  padding: 8px;
  display: flex;

  @media (min-width: $largest-width) {
    min-height: 55px;
    margin-left: 64px;
    font-weight: 400;
    text-transform: none;
  }

  &:last-child {
    padding-right: 0px;
  }
}

.main-nav__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;

  @media (min-width: $largest-width) {
    border-bottom: 2px solid transparent;
  }

  &--active {
    @media (min-width: $largest-width) {
      border-bottom: 2px solid $bk-light;
    }
  }

  &:hover,
  &:focus {
    color: $accent-primary;
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $largest-width) {
      color: inherit;
    }
  }
}

.main-nav__toggler {
  position: absolute;
  top: -68px;
  right: 0;
  height: 66px;

  border: none;
  background-color: inherit;

  @media (min-width: $larger-width) {
    height: 110px;
    top: -110px;
  }

  @media (min-width: $largest-width) {
    @include visually-hidden;
  }
}

.main-nav__toggler--close {
  width: 64px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 20px;
    display: block;
    width: 21px;
    height: 4px;
    background-color: $bk-light;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $accent-primary;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $larger-width) {
    &::before,
    &::after {
      top: 50px;
    }
  }
}

.main-nav__toggler--open {
  width: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 51px;
    height: 4px;
    background-color: $bk-light;
    box-shadow: 0 10px 0 0 $bk-light, 0 20px 0 0 $bk-light;
  }

  &:hover::before,
  &:focus::before {
    background-color: $accent-primary;
    box-shadow: 0 10px 0 0 $accent-primary, 0 20px 0 0 $accent-primary;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $larger-width) {
    &::before,
    &::after {
      top: 40px;
    }
  }
}

.main-nav__toggler--nojs {
  @include visually-hidden;
}
