.main-nav {
  position: relative;
  font-family: $main-font;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-light;
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $largest-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__item {
  padding: 15px;
  padding-top: 17px;
  display: flex;
  justify-content: center;

  @media (min-width: $larger-width) {
    padding: 16px;
  }

  @media (min-width: $largest-width) {
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 42px;
    padding-right: 42px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
  }

  &:last-child {
    padding-right: 10px;
  }
}

.main-nav__link {
  color: inherit;
}

.main-nav__button {
  position: absolute;

  @media (min-width: $largest-width) {
    @include visually-hidden;
  }
}
