.reviews {
  font-family: $main-font;
  background-color: $text-light;
}

.reviews__list {
  @include reset-list;
}

.reviews__author {
  @include reset-margin;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $text-darkest;
}

.reviews__text {
  @include reset-margin;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $text-dark;
}
