.tariff {
  font-family: 'OpenSans';
  background-color: $white;
}

.tariff__value {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $blue;
}

.tariff__value--name {
  font-size: 18px;
  font-weight: bold;
  color: $white;
  background-color: $blue;
}

.tariff__value--price {
  font-weight: 24px;
  font-weight: lighter;
  color: $white;
  background-color: $blue;
}
