.tariff {
  font-family: $OpenSans;
  background-color: $white;
}

.tariff__value {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $blue;
}

.tariff__value--name {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
}

.tariff__value--price {
  font-size: 24px;
  font-weight: 300;
  color: $white;
  background-color: $blue;
}
