body {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$small-width: 320px;
$larger-width: 660px;
$largest-width: 960px;
